{% extends "registroCliente/header.html" %}
{% block content %}
<div class>
	<h2 align="center">Registrarse Como Cliente</h2>
</div>
<div class="row">
	<div class="container-fluid col-md-3"></div>
	<div class="container-fluid col-md-6">
		<form>
		  <div class="form-group col-xs-6">
		  	<label for="inputName">Nombre</label>
		    <input type="text" class="form-control" id="inputName" placeholder="Fulano">
		  </div>
		  	
		  <div class="form-group col-xs-6">
		    <label for="inputApellido">Apellido</label>
		    <input type="text" class="form-control" id="inputApellido" placeholder="Detal">
		  </div>
		  	
		  <div class="form-group col-xs-2">
		  	<label for="inputCedula">Tipo</label>
			<select class="form-control">
			  	<option>Tipo</option>
			  	<option>V-</option>
			 	<option>E-</option>
			</select>
		  </div>
		  
		  <div class="form-group col-xs-4">
		  	<label for="inputCedula">Cedula</label>
		    	<input type="number" class="form-control" id="inputCedula" placeholder="123456789">
		  </div>
		  
		  <div class="form-group col-xs-6">
		    <label for="inputF_Nac">Fecha de Nacimiento</label>
		    <input type="date" class="form-control" id="inputF_Nac">
		  </div>
		  	
		  <div class="form-group col-xs-4 col-xs-offset-1">
		  	<label for="inputSexo">Sexo</label>
		  	<select class="form-control">
		  		<option>Sexo</option>
		  			<option>Masculino</option>
		 			<option>Femenino</option>
		  			<option>No Especifica</option>
				</select>
		  	</div>
		  	
		  	<div class="form-group col-xs-6 col-xs-offset-1">
		    	<label for="inputTelf">Telefono</label>
		    	<input type="tel" class="form-control" id="inputTelf" placeholder="+0 123-4567891">
		  	</div>
		  	
		  	<div class="form-group col-xs-6">
		    	<label for="inputEmail1">Email address</label>
		    	<input type="email" class="form-control" id="inputEmail1" placeholder="ejemplo@exmpl.com">
		  	</div>
		  	
		  	<div class="form-group col-xs-6">
		    	<label for="inputUsuario">Nombre de Usuario</label>
		    	<input type="text" class="form-control" id="inputUsuario" placeholder="usuario123">
		  	</div>
		  	
		  	<div class="form-group col-xs-6">
		    	<label for="inputClave">Clave</label>
		    	<input type="password" class="form-control" id="inputClave" placeholder="Clave">
		  	</div>
		  	
		  	<div class="form-group col-xs-6">
		    	<label for="inputClave">Confirme Clave</label>
		    	<input type="password" class="form-control" id="inputClave" placeholder="Clave">
		   	</div>
		  	
		  	<div class="form-group col-md-12">
            	<button type="submit" class="btn btn-success btn-block">Registrate</button>
            </div>
            
            <div class="form-group col-md-12">
            	<button type="submit" class="btn btn-success btn-block btn-lg">Registrate</button>
            </div>
            
            
            <div class="form group col-md-offset-5">
            	<button type="submit" class="btn btn-success btn-lg">Registrate</button>
            </div>
		</form>
	</div>
	<div class="container-fluid col-md-4"></div>
</div>
{% endblock %}