{% extends "inicio/header.html" %}
{% block content %}
{% if not user.proveedor and not user.is_staff %}
<div class>
	<h2 align="center">Menú</h2>
</div><br>
<div class="container-fluid col-md-12">
	{% if error %}
		{% for e in error %}
			<div class="alert alert-danger">
			  {{ e }} 
			</div>
		{% endfor %}
	{% endif %}
	<div class="container-fluid col-md-3"></div>
	<div class="container-fluid col-md-6">
		<form method = "post">
			{% csrf_token %}			
			<div class="form-group col-6 jumbotron">
				<table class="table table-hover">
					<tr>
					 	<td><strong>Nombre:</strong></td>
					 	<td><strong>Descripción:</strong></td>
					 	<td><strong>Precio:</strong></td>
					 	<td><strong>Cantidad:</strong></td>
					</tr>
					{% for plato in menu %}
						<tr>
						 	<td>{{plato.nombre.value}}</td>
						 	<td>{{plato.descripcion.value}}</td>
						 	<td>{{plato.precio.value}}</td>
						 	<td>{{plato.cantidad}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div align="center" class="form-group col-md-offset-8">
            	<button align="center" type="submit" class="btn btn-success btn-lg">Oredenar</button>
            </div>
            <div align="center" class="form-group col-md-offset-8">
            	<button align="center" class="btn btn-success btn-lg">Pagar Orden</button>
            </div>
			{% else %}
			<br><p>Hey! Esto es Python House of Pancakes. </p>
		</form>
	</div>
</div>
{% endif %}
{% endblock %}