{% extends "registro/header.html" %}
{% block content %}
<div class>
	<h2 align="center">Tu Perfil</h2>
</div>
<div class="row">
	{% if error %}
		{% for e in error %}
			<div class="alert alert-danger">
			  {{ e }} 
			</div>
		{% endfor %}
	{% endif %}
	
	<div class="container-fluid col-md-3">
		
	</div>
	<div class="container-fluid col-md-6 alert alert-success";>
		{% for x in ListaUsuarios %}

			{{ x.0 }}

		{% endfor %}
		<div align="center" class="form-group col-md-offset-8">
            	<a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/registro/editar/proveedor" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            </div>
	</div>
	<div class="container-fluid col-md-4"></div>
</div>
{% endblock %}