{% extends "registro/header.html" %}
{% block content %}
<div class>
	<h2 align="center">Tu Perfil</h2>
</div>
<div class="container-fluid col-md-12">
	{% if error %}
		{% for e in error %}
			<div class="alert alert-danger">
			  {{ e }} 
			</div>
		{% endfor %}
	{% endif %}
	
	<div class="container-fluid col-md-3"></div>
	<div class="container-fluid col-md-6 alert alert-success";>
		<form method = "post">
			{% csrf_token %}
			<div class="form-group col-xs-6">
				<address>
		  		<strong>Nombre:</strong><br>
				{{Nombre}}
				</address>
		  	</div>
		  	<div class="form-group col-xs-6">
		  		<address>
		  		<strong>Apellido:</strong><br>
				{{Apellido}}
				</address>
		  	</div>
		  	<div class="form-group col-xs-6">
		  		<address>
		  		<strong>Cédula:</strong><br>
				{{CI}}
				</address>
		  	</div>
		  	<div class="form-group col-xs-6">
		  		<address>
		  		<strong>Sexo:</strong>
				{% if Sexo == "M" %}
					<p>Masculino</p>
				{% else %}
					<p>Femenino</p>
				{% endif %}
				</address>
		  	</div>
		  	<div class="form-group col-xs-6">
		  		<strong>Fecha De Nacimiento:</strong><br>
				{{FechaDeNacimiento}}
		  	</div>
		  	<div class="form-group col-xs-6">
				<address>
				<strong>Teléfono:</strong><br>
				<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
				<span class="sr-only"></span>
				{{Telefono}}
				</address>
		  	</div>
		  	<div class="form-group col-xs-6">
				<address>
  				<strong>Email:</strong><br>
  				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  				<span class="sr-only"></span>
  				<a href="mailto:#">{{Email}}</a>
				</address>
		  	</div>
		  	<div class="form-group col-xs-6">
				<address>
  				<strong>Nombre de Usuario:</strong><br>
  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span class="sr-only"></span>	
				{{Username}}
				</address>
		  	</div>
		  	{% if Foto %}
		  	<div class="form-group col-xs-6">
				<address>
  				<strong>Foto:</strong><br>
  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<span class="sr-only"></span>	
				<img src="{{Foto.url}}">
				</address>
		  	</div>
		  	{% endif %}
		  <div align="center" class="form-group col-md-offset-7">
		  		<a class="btn btn-warning btn-lg" href="http://127.0.0.1:8000/registro/editar/clave" role="button" data-toggle="tooltip" data-placement="top" title="Cambiar Clave"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            	<a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/registro/editar/usuario" role="button" data-toggle="tooltip" data-placement="top"  title="Editar Perfil"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            	<a class="btn btn-success btn-lg" href="http://127.0.0.1:8000/billetera/crear" role="button" data-toggle="tooltip" data-placement="top" title="Billetera Electrónica"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></a>
            </div>
		</form>
	</div>
	<div class="container-fluid col-md-4"></div>
</div>
{% endblock %}