{% extends "registro/header.html" %}
{% block content %}
<div >
	<h2 align="center">Edita Tu Perfil</h2>
</div>
<div class="container-fluid col-md-12">
	{% if error %}
		{% for e in error %}
			  {{ e }} 
		{% endfor %}
	{% endif %}
	
	<div class="container-fluid col-md-3"></div>
	<div class="container-fluid col-md-6">
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{% for field in formUser %}
			{% if field.label != 'Contrasena' %}
			<div class="form-group clearfix col-xs-6">
	        		{{ field.label_tag }}{{ field }}
	        		{% if field.errors %}
	        		<div class="alert alert-warning" role="alert">
						{{field.errors }}
					</div>
					{% endif %}
			</div>
			{% endif %}
			{% endfor %}
			{% for field in formPerfil %}
			<div class="form-group clearfix col-xs-6">
				{% if field.label == 'Foto' %}
						<div class="form-group clearfix col-md-8">
								<span class="glyphicon glyphicon-img" aria-hidden="true"></span>
							<span class="sr-only"></span>	
							<img src="{{ foto.url }}" height="100" width="100"/>
							{{ field.label_tag }}
							{{ field }}
		        			{% if field.errors %}
		        				<div class="alert alert-warning" role="alert">
									{{field.errors }}
								</div>
							{% endif %}
					  	</div>
		  		{% else %}
					{{ field.label_tag }}{{ field }}
			    	{% if field.errors %}
					<div class="alert alert-warning" role="alert">
						{{field.errors }}
					</div>
					{% endif %}
				{% endif %}
			</div>
			{% endfor %}
		 	<div align="center" class="form-group col-md-offset-8">
            	<button align="center" type="submit" class="btn btn-primary btn-lg">Guardar</button>
            </div>
		</form>
	</div>
	<div class="container-fluid col-md-3"></div>
</div>
{% endblock %}