{% extends "registro/header.html" %}
{% block content %}
<div class>
	<h2 align="center">Editar Cliente</h2>
</div>
<div class="row">
	{% if error %}
		{% for e in error %}
			<div class="alert alert-danger">
			  {{ e }} 
			</div>
		{% endfor %}
	{% endif %}
	
	<div class="container-fluid col-md-3"></div>
	<div class="container-fluid col-md-6">
		<form method = "post">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group col-xs-6">
				{{ field.errors }}
        		{{ field.label_tag }} {{ field }}
		  	</div>
		 	{% endfor %}
		  	<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div class="container-fluid col-md-4"></div>
</div>
{% endblock %}