{% extends "registro/header.html" %}
{% block content %}
<div class>
	<h2 align="center">Reseñas</h2><br><br>
</div>
<div class="container-fluid col-md-4"></div>
<div class="container-fluid col-md-12">
	<div class="container-fluid col-md-3"></div>
	<div class="container-fluid col-md-6 jumbotron">
		<div class="form-group col-md-12 ">
			<table class="table table-hover table-striped">
				<tr>
				 	<td><strong>Proveedor:</strong></td>
				 	<td><strong>Ingrediente:</strong></td>
				 	<td><strong>Precio:</strong></td>
				 	<td><strong>Comprar:</strong></td>
				</tr>
				{% for oferta in listaOfertas %}
					<tr>
					 	<td>{{oferta.proveedor}}</td>
					 	<td>{{oferta.ingrediente}}</td>
					 	<td>{{oferta.precio}}</td>
					 	<td><a href = "/ordenes/ofertas/?id={{oferta.id}}">Comprar </a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="container-fluid col-md-4"></div>
	</div>
</div>
{% endblock %}